<div class="mycontainer">
  <header class="header">
    <img src="images/11.png" alt="">
    <h1>Coforge Technologies</h1>
  </header>

  <nav class="mynav">
    <ul>
      <li><a routerLink = "/">Home</a></li>
      <li><a routerLink = "/emp">DataBinding</a></li>
      <li><a routerLink = "/pipe">Pipes</a></li>
      <li><a routerLink = "/about">About us</a></li>
      <li><a routerLink = "/login">Log in</a></li>
      <li><a routerLink  ="/team">Team Works</a></li>
      <li><a routerLink ="/parent">Communication</a></li>


      <!--Contact DropDown Menu-->
      <li class="dropdown">
        <span>Forms</span>
        <ul class="dropdown-menu">
          <li><a routerLink="/contact">Template Form</a></li>
          <li><a routerLink="/trainee">Two Way Data DataBinding</a></li>
          <li><a routerLink="auth">Reactive Forms</a></li>
        </ul>
      </li>
      
    </ul>
  </nav>

  <main class="main-content">
<!--The routed views render in the <router-outlet>-->
  <!--displays child component -SPA-->
  <router-outlet></router-outlet>
  </main>
  <footer class="myfooter">
    <p>&copy; 2024 Coforge Ltd</p>
  </footer>
</div>